@import url('https://fonts.googleapis.com/css?family=Monoton');


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}

body {
    min-height: 100vh;
    color: var(--dark-color);
    background: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper {
    filter: alpha(opacity=60);
    opacity: 0.7;
    padding: 1.5rem 4rem 3rem 4rem;
    width: 1100px;
    height: 680px;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

#big-container {
    text-align: center;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#label {
    text-align: center;
    position: relative;
    top: 170px;
    font-size: 17px;
    color: #E6E6E6;
}

.trivia-div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: black;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 50%;
}

.filter {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: black;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

#label {
    display: inline-flex;
    text-align: center;
    vertical-align: middle
}

#play-area {
    font-family: neon;
    color: #C98C30;
    text-shadow: 0 0 3vw #A7956A;
    background-color: black;
    text-align: center;
    position: relative;
    top: 190px;
    border-color: 5px
}

.answer-div {
    top: 70px;
    position: relative;
}

.answer {
    font-family: neon;
    color: #C98C30;
    text-shadow: 0 0 3vw #A7956A;
    background-color: black;
    text-align: center;
    position: relative;
    font-size: 20px;
    border-color: 5px;
    width: 50%;
    margin-top: 20px;
    top: 20%
}

.top-positioned {
    position: absolute;
    top: 0px
}

#drop-down {
    font-family: neon;
    color: #FB4264;
    font-size: 50px;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
    background-color: black;
    text-align: center;
    position: relative;
    top: 190px;
    border-color: 5px
}

#label {
    font-family: neon;
    color: #426DFB;
    font-size: 50px;
    text-shadow: 0 0 3vw #2356FF;
}

#label {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {

    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }

    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {

    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }

    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}

.filter {

        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: table;
        background-color: black;
    }

    @font-face {
        font-family: neon;
        src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
    }

    #label {
        display:inline-flex;
        text-align: center;
        vertical-align: middle
    }

    #play-area {
        font-family: neon;
        color: #c98c30;
        text-shadow: 0 0 3vw #a7956a;
        background-color: black;
        text-align: center;
        position: relative;
        top: 190px;
        border-color: 5px
        }

    .answer-div {
        top: 70px;
        position: relative;
    }



    .answer {
            font-family: neon;
            color: #c98c30;
            text-shadow: 0 0 3vw #a7956a;
            background-color: black;
            text-align: center;
            position: relative;
            font-size: 20px;
            border-color: 5px;
            width: 50%;
            margin-top: 20px;
            top: 20%

    }
        
    .top-positioned {
        position: absolute;
        top: 0px
    }

    #drop-down {
        font-family: neon;
        color: #FB4264;
        font-size: 50px;
        line-height: 9vw;
        text-shadow: 0 0 3vw #F40A35;
        background-color: black;
        text-align: center;
         position: relative;
         top: 190px;
         border-color: 5px
    }

    #label {
        font-family: neon;
        color: #426DFB;
        font-size: 50px;
        text-shadow: 0 0 3vw #2356FF;
    }

    #label {
        animation: neon 1s ease infinite;
        -moz-animation: neon 1s ease infinite;
        -webkit-animation: neon 1s ease infinite;
    }

    @keyframes neon {

        0%,
        100% {
            text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
            color: #FED128;
        }

        50% {
            text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
            color: #806914;
        }
    }

    .flux {
        animation: flux 2s linear infinite;
        -moz-animation: flux 2s linear infinite;
        -webkit-animation: flux 2s linear infinite;
        -o-animation: flux 2s linear infinite;
    }

    @keyframes flux {

        0%,
        100% {
            text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
            color: #28D7FE;
        }

        50% {
            text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
            color: #146C80;
        }
    }
    


.neon {
    font-family: neon;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
}

.flux {
    font-family: neon;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
}

.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {

    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }

    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {

    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }

    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}

.quiz-head {
    
}

.quiz-score {
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: 5px solid var(--grey-color);
    font-weight: bold;
    width: 100px;
    height: 50px;
    margin: .5rem auto 1rem auto;
    color: var(--light-purple-color);
}

.quiz-question {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.quiz-question .category {
    font-size: 0.9rem;
    font-weight: 500;
    background-color: var(--light-purple-color);
    color: var(--light-color);
    padding: .2rem .4rem;
    border-radius: .2rem;
    margin-top: 0.5rem;
    display: inline-block;
}

.quiz-options {
    list-style-type: none;
    margin: 1rem 0;
}

.quiz-options li {
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid var(--light-purple-color);
    background-color: var(--light-purple-color);
    color: var(--light-color);
    box-shadow: 0 4px 0 0 #6C4298;
    transition: var(--transition);
}

.quiz-options li:hover {
    background-color: var(--grey-color);
    color: var(--dark-color);
    border-color: var(--grey-color);
    box-shadow: 0 4px 0 0 #BBBBBB;
}

.quiz-options li:active {
    transform: scale(0.97);
}

/* js related */
.selected {
    background-color: var(--grey-color) !important;
    color: var(--dark-color) !important;
    border-color: var(--grey-color) !important;
    box-shadow: 0 4px 0 0 #BBBBBB !important;
}

.quiz-foot button {
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    padding: .5rem 1rem;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    background-color: var(--grey-color);
    color: var(--dark-color);
    letter-spacing: 2px;
    transition: var(--transition);
    box-shadow: 0 4px 0 0 #BBBBBB;
}

#start-button {
    text-align: center;
    position: relative;
    top: 300px;
    font-family: neon;
    color: #FB4264;
    font-size: 50px;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

#start-button {
    text-align: center;
    position: relative;
    top: 300px;
    font-family: neon;
    color: #FB4264;
    font-size: 50px;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
font-family: neon;
src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.quiz-foot button:hover {
    background-color: #E6E6E6;
    box-shadow: 0 4px 0 0 #A7A7A7;
}

.quiz-foot button:active {
    transform: scale(0.95);
}

#play-again {
    display: none;
}

#result {
    padding: .7rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}

#result i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    background-color: var(--light-purple-color);
    color: var(--light-color);
}

@media(max-width: 678px) {
    .quiz-title {
        font-size: 1.6rem;
    }

    .quiz-foot button {
        font-size: 1rem;
    }
}
